@charset "UTF-8";

.body {
  font-family: "Lato";
  font-family: "Raleway";
}

.inner {
  width: 100vw;
  text-align: center;
}

.inner_header{
  position: fixed;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header_icon{
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin:auto;
}

.icon_bolt{
  color: #4e4e4e;
  font-size: 30px;
}

.Contact_buttom{
  font-size: 12px;
  color: #fff;
  padding-top: 14px;
  padding-bottom:12px;
  background-color: #74cfae;

  transition: 0.3s all;
  cursor: pointer;
}

.Contact_buttom:hover{
  color: #333;
}

.header_buttom{
  width: 50px;
  padding: 14px 12px;
}

/* <Bolt Theme> */

.title_Bolt_Theme{
  background-color: #f2f2f2;
}

.inner_title_Bolt_Theme{
  width: 100vw;
  height: 640px;
}

.Words_title_Bolt_Theme{
  padding: 250px 0;
}

.Maintext_title_Bolt_Theme{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.Subtext_Bolt_Theme{
  padding-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* <WHAT WE CAN DO?> */

.title_what_we_can_do {
  background-color: #74cfae;
}

.inner_title_what_we_can_do {
  max-width: 1100px;
  margin:auto;
  display: flex;
  flex-direction : row-reverse;
  align-items: center;
  justify-content: center;
}

.Words_what_we_can_do p {
  color: #fff;
}

.Words_what_we_can_do{
  width: 60%;
}

.Maintext_title_what_we_can_do,.Maintext_OUR_LATEST_WORK{
  font-size: 24px;
  font-family: "Raleway";
}

.Subtext_what_we_can_do {
  font-size: 20px;
  padding-top: 35px;
  word-break: keep-all;
  font-family: "Lato";

}

.picture_what_we_can_do {
  padding-top: 50px;
  width: 50%;
}

/* <OUR LATEST WORK> */

.inner_title_OUR_LATEST_WORK{
  margin: auto;
}

.Maintext_OUR_LATEST_WORK {
  padding: 60px 0 40px 0;
}


.items_OUR_LATEST_WORK{
  display: flex;
  justify-content: center;
}

.item{
  padding-right: 100px;
  opacity: 0.7;
  transition: 0.3s all;
  cursor: pointer;
}

.item:hover{
  opacity: 1;
}

.item:nth-child(3n){
  flex-wrap: wrap;
}


.Sub_contents{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Subtext_OUR_LATEST_WORK{
  padding: 90px 90px 70px 0;
  width: 35%;
  font-family: "Lato";
}

.Email_buttom{
  width: 100px;
  height: 10px;
  padding: 14px 20px ;
}

/* <OUR SKILLS> */

.inner_our_skills{
  background-color: #4e4e4e;
}

.inner_our_skills p {
  color: #f2f2f2;
  font-family: "Lato";
}

.Maintext_our_skills{
  padding-top: 70px;
  font-size: 24px;
  padding-bottom: 70px;
  
}

.items_our_skills{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.item_our_skills{
  margin: 0 90px ;
}

.item_our_skills_Subtext{
  color: #f2f2f2;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 100px;
}

/* sns_icons */

.inner_sns_icons{
  margin: 200px 0;
  /* background-color: #c0c0c0; */
}

.sns_icons{
  display: flex;
}

.sns_icon {
  color: #74cfae;
  width: 185px;
  font-size: 40px;
}

.inner_footer{
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer_text{
  max-width: 1100px;
  margin: auto;
}

.author_name{
  font-size: 12px;
  color: #fff;
  text-align: right;
}
