@charset "UTF-8";

.body {
  font-family: "Lato";
  color: #333;
  width: 100%;
}

main{
  padding-top: 70px;
}

.inner {
  width: 1100px;
  margin: auto;
  text-align: center;
}

.title_header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index:9999;
}

.header_icon {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}

.icon_bolt {
  color: #4e4e4e;
  font-size: 30px;
}

.Contact_buttom {
  font-size: 12px;
  color: #fff;
  padding-top: 14px;
  padding-bottom:12px;
  background-color: #74cfae;
  transition: 0.3s all;
}

.Contact_buttom:hover {
  color: #333;
}

.header_buttom {
  width: 50px;
  padding: 14px 12px;
}

/* <Bolt Theme> */

.title_Bolt_Theme{
  width: 100%;
  background-color: #f2f2f2;
  padding: 250px 0 ;
}

h1 {
  font-family: "Raleway";
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.Sub_text_Bolt_Theme {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* <WHAT WE CAN DO?> */

.title_what_we_can_do {
  width: 100%;
  background-color: #74cfae;
  padding-top: 50px;
}

.flex_inner{
  display: flex;
}

.picture_what_we_can_do {
  font-size: 0px;
  width: 50%;
}

h2 {
  font-size: 24px;
  font-family: "Raleway";
}

.Words_what_we_can_do {
  color: #f2f2f2;
  margin-top: 50px;
  width: 60%;
}

.Sub_text_WHAT_WE_CAN {
  font-size: 20px;
  margin-top: 35px;
}

/* <OUR LATEST WORK> */

.title_our_latest_work {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 60px;

  color: #333;
  margin: auto;
}

.items_OUR_LATEST_WORK {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.items_OUR_LATEST_WORK li {
  display: inline;
  margin: 80px 0 0 100px ;
  opacity: 0.7;
  transition: 0.3s all;
}

.items_OUR_LATEST_WORK li:nth-child(-n+3) {
  margin-top: 0;
}

.items_OUR_LATEST_WORK li:nth-child(3n-2){
  margin-left: 0;
}

.items_OUR_LATEST_WORK li:hover {
  opacity: 1;
}

.Sub_contents {
  display: flex;
  justify-content: center;
  vertical-align: top;
  padding: 90px 0 70px 0
}

.Subtext_OUR_LATEST_WORK {
  color: #333;
  width: 48%;
}

.Email_buttom {
  height: 10px;
  padding: 14px 20px ;
  margin-left: 90px;
}

/* <OUR SKILLS> */

.title_our_skills{
  width: 100%;
  background-color: #4e4e4e;
  padding-top: 70px;
  color: #f2f2f2;

}

.item_our_skills {
  margin-top: 70px;
}

.our_skills_wrapper {
  margin-top: 70px;
}

.items_our_skills li {
  display: inline-block;
}

.items_our_skills li {
  margin-left: 180px ;
}

.items_our_skills li:first-child{
  margin-left: 0;
}

.items_our_skills p {
  color: #f2f2f2;
  font-size: 16px;
  margin: 10px 0 100px 0;
}

/* sns_icons */

.sns_wrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding: 200px 0;
}

.sns_incon_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns_incon_list li a {
  width: 100%;
  height: 100%;
  display: block;
}


.sns_icon {
  color: #74cfae;
  width: 185px;
  font-size: 40px;
  line-height:90px;
  transition: 0.3s all;
}

.sns_icon:hover {
  background-color: #fff;
}

/* footer */

.footer_wrapper {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer_text {
  max-width: 1100px;
  margin: auto;
}

.author_name {
  font-size: 12px;
  color: #fff;
  text-align: right;
}

