@charset "UTF-8";

.body {
  font-family: "Lato";
  color: #333;
}



main{
  padding-top: 70px;
}

.inner {
  width: 100%;
  text-align: center;
}

.inner_header {
  position: fixed;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index:9999;
}

.header_icon {
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin:auto;
}

.icon_bolt {
  color: #4e4e4e;
  font-size: 30px;
}

.Contact_buttom {
  font-size: 12px;
  color: #fff;
  padding-top: 14px;
  padding-bottom:12px;
  background-color: #74cfae;

  transition: 0.3s all;
  cursor: pointer;
}

.Contact_buttom:hover {
  color: #333;
}

.header_buttom {
  width: 50px;
  padding: 14px 12px;
}

/* <Bolt Theme> */

.title_Bolt_Theme {
  background-color: #f2f2f2;
}

.inner_title_Bolt_Theme {
  width: 100%;
  height: 640px;
}

.Words_title_Bolt_Theme {
  padding: 250px 0 ;
}

h1 {
  font-family: "Raleway";
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.Sub_text_Bolt_Theme {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* <WHAT WE CAN DO?> */

.title_what_we_can_do {
  background-color: #74cfae;
}

.inner_title_what_we_can_do {
  width: 1100px;
  margin:auto;
  
  /* padding-top: 50px; */
}

.flex_inner{
  display: flex;
}

.picture_what_we_can_do {
  font-size: 0px;
  width: 50%;
  padding-top: 50px;
}

h2 {
  font-size: 24px;
  font-family: "Raleway";
}

.Words_what_we_can_do {
  color: #f2f2f2;
  margin: auto;
  width: 60%;
}


.Sub_text_WHAT_WE_CAN {
  font-size: 20px;
  margin-top: 35px;
  /* text-align:center; */
}



/* <OUR LATEST WORK> */

.title_our_latest_work {
  background-color: #f2f2f2;
  margin: auto;
}

.inner_title_OUR_LATEST_WORK {

  color: #333;
  width: 1100px;
  margin: auto;
}

.Maintitle_OUR_LATEST_WORK{
  margin: 60px 0 40px 0;
}


.items_OUR_LATEST_WORK {
  display: flex;
  flex-wrap: wrap;
}

.items_OUR_LATEST_WORK li {
  display: inline;
  margin: 80px 0 0 100px ;
  opacity: 0.7;
  transition: 0.3s all;
  cursor: pointer;
}

.items_OUR_LATEST_WORK li:nth-child(-n+3) {
  margin-top: 0;
}

.items_OUR_LATEST_WORK li:nth-child(3n-2){
  margin-left: 0;
}

.items_OUR_LATEST_WORK li:hover {
  opacity: 1;
}

.Sub_contents {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: baseline;
}

.Subtext_OUR_LATEST_WORK {
  color: #333;
  margin: 90px 90px 70px 0;
  width: 48%;
}

.Email_buttom {
  height: 10px;
  padding: 14px 20px ;
}

/* <OUR SKILLS> */

.title_our_skills {
  background-color: #4e4e4e;
  overflow: hidden;
}

.inner_our_skills p {
  color: #f2f2f2;
}

h3 {
  color: #f2f2f2;
  font-family: "Raleway";
  font-size: 24px;
  margin: 70px 0;
}

.items_our_skills li {
  display: inline-block;
  
  /* justify-content: center;
  align-items: center; */
}

.items_our_skills li {
  margin-left: 180px ;
}

.items_our_skills li:first-child{
  margin-left: 0;
}

.item_our_skills_Subtext {
  color: #f2f2f2;
  font-size: 16px;
  margin: 10px 0 100px 0;
}

/* sns_icons */

.inner_sns_icons {
  background-color: #f2f2f2;
  overflow: hidden;
}

.sns_wrapper {
  margin: 200px 0;
  /* display: inline-block; */
}

.sns_incon_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns_incon_list li a {
  width: 100%;
  height: 100%;
  display: block;
}


.sns_icon {
  color: #74cfae;
  width: 185px;
  font-size: 40px;
  line-height:90px;

  transition: 0.3s all;
  cursor: pointer;
}

.sns_icon:hover {
  background-color: #fff;
}

/* footer */

.inner_footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer_text {
  max-width: 1100px;
  margin: auto;
}

.author_name {
  font-size: 12px;
  color: #fff;
  text-align: right;
}

